:root {
  --primary-color: #caff33;
  --text-color: #b3b3b3;
  --bg-color-primary: #1a1a1a;
  --bg-color-secondary: #1c1c1c;
  --border-color: #262626;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  color: var(--text-color);
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

.txt-green {
  color: var(--primary-color);
}

/* Headings */
h1,
h2,
h3 {
  color: #fff;
}

h1,
h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  h1,
  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 30px;
  }
}

/* Buttons */
.btn {
  background: transparent;
  border: 0;
  border-radius: 1000px;
  color: #fff;
  text-transform: capitalize;
}

.btn-block {
  width: 100%;
}

.btn-big {
  padding: 2.4rem;
}

.btn-sm {
  padding: 1.8rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #000;
}

.btn-container {
  background-color: var(--bg-color-primary);
  border: 1px solid var(--border-color);
  border-radius: 1000px;
  padding: 1.2rem;
  white-space: nowrap;
}

/* Icons */
.fa-solid {
  color: var(--primary-color);
}
